charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 38em) {
    
    html {
        font-size: 100%;
    }

}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }

}

@media only screen and (min-width: 90em) {
 
    html {
        font-size: 140%;
    }

}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 140%;
    }

}

body {
  
  margin: 0;
  padding: 0;
}
a:link,
a:active {
    outline: none;
}

body {
    width:100%;
    height: 100vh;
    background-image: url(../images/twilight.svg);
	background-color: black;
}

.icon {
    position: absolute;
    left: 50%;
    top: 5vh;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 180px;
	padding-bottom: 1em;
}

.blob { 
	visibility: hidden;
}

.talk {
	position: absolute;
    width: 100%;
    top: 33vh;
	text-align: center;
	z-index: 999999;
    right: 0;
	padding-bottom: 2em;
	padding-top: 2em;
	background-image: url(../images/placeholder.svg);
	background-repeat:no-repeat center center;
	background-size: cover;
	margin-top: 1em;
	font-size: 14pt;
}

.link {
    text-decoration: none;
    color: #3f5cff;
}

@media only screen and (min-width: 30em) {
 
.blob { 
	visibility: visible;
    text-align: center;
    width:100%;
    height: 80vh;
    margin-top: 20px;
}
	
.talk { 
	 background:transparent;
	 top: 30vh;
	 font-size: 12pt;
	}
}



