@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
 
    html {
        font-size:110%;
    }
}

@media only screen and (min-width: 90em) {
 
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
 
}
body {
  margin: 0;
  padding: 0;
  color: #f1f2f2;
}
a:link,
a:active {
    /* it is okay to get rid of the focus rectangle for mouse users but NEVER FOR KEYBOARD USERS. THEY NEED THIS!!!!!!!! */
    
    outline: none;
}

.card {
    display: block;
    position: absolute;
    text-align: center;
}

.icon {
    padding-top: 1em;
    width: 250px;
    margin-bottom: 8em;
    position:absolute;
    display: block;
}

h1 {
    size: 30px;
    color: #000000;   
}

p {
    size: 16px;
    color: #000000;
}
    